@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap");

:root {
  --primary: #0c4688;
  --secondary: #222222;
  --color3: #777777;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

* a {
  text-decoration: none;
}
