.home-root-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.home-container {
  display: flex;
  width: 65%;
  height: 100%;
}

.home-categorie-container {
  width: 40%;
}

.home-porduits-container {
  width: 75%;
}

.porduits-container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
